:root {
	--color-white: #ffffff;
	--color-button1: #388e3c;
	--color-button2: #4caf50;
	--color-button3: #66bb6a;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

html,
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.animate {
	opacity: 1 !important;
}

.fork-btn-wrapper {
	min-width: 100px;
	min-height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
}

.image {
	width: 100px;
	height: 100px;
	background: var(--color-white) url(https://www.freepnglogos.com/uploads/spotify-logo-png/file-spotify-logo-png-4.png) no-repeat center center/cover;
	border-radius: 100%;
	position: absolute;
	z-index: 15;
	outline: none;
}

.btn-wrapper {
	opacity: 0;
}

.btn {
	padding: 0px 16px;
	font-weight: 600;
	color: var(--color-white);
	text-align: left;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button1 {
	width: 130px;
	height: 130px;
	background: var(--color-button1);
	border-radius: 100%;
	position: absolute;
	z-index: 14;
	transition: opacity 0.10s ease-in-out;
}

.button1>.btn {
	position: absolute;
	background: var(--color-button1);
	width: 160px;
	height: 26px;
	z-index: 13;
	top: 0px;
	right: 71px;
	box-shadow: none !important;
	border-radius: 16px 0 0 16px;
	border: none;
}

.button2 {
	width: 160px;
	height: 160px;
	background: var(--color-button2);
	border-radius: 100%;
	position: absolute;
	z-index: 13;
	transition: opacity 0.15s ease-in-out;
}

.button2>.btn {
	position: absolute;
	background: var(--color-button2);
	width: 160px;
	height: 26px;
	z-index: 13;
	right: 102px;
	top: calc(100% / 2);
	box-shadow: none !important;
	border-radius: 16px 0 0 16px;
	border: none;
}

.button3 {
	width: 190px;
	height: 190px;
	background: var(--color-button3);
	border-radius: 100%;
	position: absolute;
	z-index: 12;
	transition: opacity 0.2s ease-in-out;
	transition-delay: 0.2s;
}

.button3>.btn {
	position: absolute;
	background: var(--color-button3);
	width: 190px;
	height: 26px;
	z-index: 12;
	right: 102px;
	bottom: 0px;
	box-shadow: none !important;
	border-radius: 16px 0 0 16px;
	border: none;
}